@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
*,
*::before,
*::after {
box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

img,
picture,
svg,
video {
max-width: 100%;
display: block;
}



body {
    min-height: 100vh;  
}

.body {
    min-height: 100vh;
}

.container {
    width: 95%;
    max-width: 75rem;
    margin-inline: auto;
    padding: .5em 0;
}

.section {
    padding: 1em 0;
}

/* Search Section */

.search {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 2px;
    padding-left: 5px;
    padding-right: 50px;
    border-radius: 5px 5px 0 0;
    outline: none;
    color: #9DBFAF;
    background-color: transparent;
}

.border {
    border-radius: 5px;
}


.search-section {
    width: 100%;
    position: relative;
}

.search-section img {
    width: 100%;
    max-width: 50px;
    height: 50px;
    background-size: contain;
}

.search-icon {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
    z-index: 99;
}

.search-list-section {
    width: 100%;
    display: grid;
    gap: 1em;
    background-color: white;
    border-right:3px solid #00B4CC;
    border-bottom: 3px solid #00B4CC;
    border-left: 3px solid #00B4CC;
    padding: 1em .5em;
    min-height: 100%;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    z-index: 999;
}

@media(min-width: 868px) {
    .search-section {
        width:90%;
        max-width: 500px;
        margin-inline: auto;
    }
}



.flex-list{
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: center;
};



/* Navbar */



 .title {
    display: none;
 }
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}


.nav-hide-desktop {
    display: none;
    width: 100%;
    align-items: center;
    gap: .5em;
}

.logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media(min-width: 868px) {
    .nav-icon {
        display: none;
    }

    .nav-flex > *:nth-child(2) {
        justify-content: end;
    }

    .nav-hide-desktop {
        display: flex;
    }
}

.nav-list {
    position: fixed;
    background-color: #FFF;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66%;
    z-index: 999;
    padding: 4em 2em;
}

.nav-list > * {
    display: block;
    margin-bottom: 2em;
}

.nav-active {
    background: rgba(192, 192, 192, 0.65);
    background-blend-mode: darken, luminosity;
}

.nav-active img {
    filter: brightness(50%);
}


/* Category Section */

.category-btn {
    padding: 5px 3.5px;
    border-radius: 7.5px;
    font-size: 12px;
    background-color: transparent  ;
    transition: 0.2s;
}

.category-btn:hover {
    background-color: #000;
    color: #fff;
}

.category-section {
    display: flex;
    gap: .5em;
    overflow: scroll;       
    padding: 1em 0;
}   

.category-section > * {
    flex-shrink: 0;             
}


/* Category Data Section */

.product-container {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}



.product-box {
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    max-width: 200px;
    margin-inline: auto;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}



.product-box:hover {
    transform: scale(1.08);
}

.product-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.product-box-info {
    margin: .5em 0;
}

.product-box-info h1 {
    font-weight: 700;
}

.product-box-info p {
    text-align: center;
    color: rgb(143, 139, 133);
}


/* Hover */

.hover {
    background-color: #000;
    color: #fff;
}


/* Product Info */


.cart-buy-button  {
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    display: flex;
    justify-content: center;    
    gap: 1em;
    padding: .5em 2em;
    border-top: 2px solid gray;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

@media(min-width: 868px) {
    .cart-buy-button {
        position: unset;
        background-color: unset;
        border: none;
        justify-content: unset;
        padding: unset;
    }
}



.cart-buy-button button  {
    flex-basis: 100%;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    max-width: 200px;
}

.green {
    background: green;
}

.blue {
    background-color: rgb(0, 0, 255);
}


.product-details h1 {
    font-size: 24px;
    font-weight: 300;
}


.product-details {
    text-align: center;
    margin-bottom: 1em;
}

.product-stamp {
    margin: .5em 0;
}

.product-details p {
    font-weight: 400;
    font-size: 22px;
}

.product-details span {
    font-weight: 200;
    font-size: 16px;
}

.product-details-description {
    white-space: nowrap;
}

.overflow {
    overflow: scroll;
}

.product-images {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1em;
}

.product-details-thumbnail {
    min-width: 150px; ;
    width: 100%;
    min-height: 150px;
    height: 170px;
    object-fit: cover;
}

.product-info-desktop {
    display: none;
}



@media(min-width: 414px) {
    .product-details-thumbnail {
        all: unset;
        width: 100%;
        max-width: 400px;
        min-height: 150px;
        height: 250px;
        object-fit: cover;
        margin-inline: auto;
    }
}


.nav-search-section-desktop {
    display: none;
}

@media(min-width: 868px) {
    .product-info-desktop {
        display: block;
    }

    .product-info-mobile {
        display: none;
    }

    .product-info-flex {
        display: flex;
        gap: 1em;
    }

    .product-info-flex > * {
        flex: 1;
    }

    .product-details-thumbnail {
        all: unset;
        
    }

    .product-details {
        text-align: unset;
    }

    .product-details-description {
        white-space: unset;
    }

    .search-section-mobile {
        display: none;
    }

    .nav-search-section-desktop {
        display: block;
    }


}

.product-images img {
  min-height: 75px;
  height: 100px;
}

.product-stamp {
    font-size: 28px;
    font-weight: 200;
}

.desktop-thumbnail-img {
    display: none;
}


@media(min-width: 414px) {
    .mobile-thumbnail-img {
        display: none;
    }
    .desktop-thumbnail-img {
        display: block;
    }
}






.image-view {
    
    width: 100%;
    background-color: rgba(39, 37, 37, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;

}

.image-view img {
    min-width: 100px;
    max-width: 300px;
    position: fixed;
    top: 0; 
    left: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}



/* Cart  */

.cart-item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cart-item h1 {
    font-size: 24px;
    font-weight: 300;
}

.cart-item p {
    font-size: 12px;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.cart-item:hover {
    background-color: rgb(235, 237, 237);
    transition: all 0.3s ease 0s;
}


.cart-title {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
}

/* login register */
.fill-up h1 {
    font-size: 24px;
    text-align: center;
}

.message-login {
    color: red;
}

.fill-up input {
    width: 100%;
    margin-bottom: .5em;
}

.fill-up button {
    width: 100%;
    margin-bottom: .5em;
    background-color: #00308F;
    outline: none;
    border-radius: 5px;
    padding: .1em 0;
    border: none;
    color: #FFF;
    transition: all 0.3s ease 0s;
}

.fill-up button:hover {
    background-color: green;
}


.fill-up label {
    color: rgb(103, 103, 103);
    font-weight: 300;
}

.centered {
    min-height: 100vh;
}

/* My Profile */

.profile-info {
    border: 1px solid #000000;
    padding: .5em;
    border-radius: 5px;
}

.profile-no-info {
    border: 1px solid #000000;
    padding: 1.25em;
    border-radius: 5px;
}

.margin-bottom {
    margin-bottom: 1em;
}

.edit-profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #00308F;
}

/* Edit Page */

.width-100 {
    width: 100%;
}